<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- 独自の暗号化は使っていない (通信は OS 標準の HTTPS のみ)。
	     これがないと、アップロードのたびに輸出コンプライアンスの質問が出る。 -->
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
